- name: "Find all sudoers files."
  command: "find /etc/sudoers /etc/sudoers.d/ -type f ! -name '*~' ! -name '*.*'"
  check_mode: no
  changed_when: no
  failed_when: no
  register: sudoers_files

- name: "parse /etc/passwd"
  block:
  - name: "parse passwd file"
    command: cat /etc/passwd
    changed_when: no
    check_mode: no
    register: passwd_file_cat

  - debug:
      msg: "{{ passwd_file_cat }}"

  - name: "split passwd entries"
    set_fact:
      rhel7stig_passwd: "{{ passwd_file_cat.stdout_lines | map('regex_replace', ld_passwd_regex, ld_passwd_yaml) | map('from_yaml') | list }}"
    vars:
      ld_passwd_regex: >-
        ^(?P<id>[^:]*):(?P<password>[^:]*):(?P<uid>[^:]*):(?P<gid>[^:]*):(?P<gecos>[^:]*):(?P<dir>[^:]*):(?P<shell>[^:]*)
      ld_passwd_yaml: |
        id: >-4
          \g<id>
        password: >-4
          \g<password>
        uid: \g<uid>
        gid: \g<gid>
        gecos: >-4
          \g<gecos>
        dir: >-4
          \g<dir>
        shell: >-4
          \g<shell>
